<form class="mt-4 container" method="POST" action="/courses/handle-form-actions">
  <div class="">
    <h3>Danh sách khóa học</h3>
    <a href="/me/trash/courses" class="btn btn-primary">Xem khóa học đã xoá ({{{count}}})</a>
  </div>

  <div class="mt-4 d-flex align-items-center gap-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>

    <select class="form-select-sm" aria-label="Default select example" name="action" required>
      <option value="">Chọn hành động</option>
      <option value="delete" >Xóa</option>
    </select>

    <button class="btn btn-primary btn-sm btn-action disabled" type="submit">Thực hiện</button>
  </div>
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col" colspan="3">Thời gian chỉnh sửa</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>

        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.updatedAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
        </td>
        <td>
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteCourseModal"
            data-id="{{this._id}}">Xóa</a>
        </td>
      </tr>

      {{else}}
      <tr>
        <td colspan="6" class="text-center">Bạn chưa đăng khóa học nào.
          <a href="/courses/create" style="text-decoration: none;">Đăng khóa học</a>
        </td>
      </tr>

      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete }}
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button id="btnDeleteCourseModal" type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="deleteCourseForm" method="POST"></form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    var courseId;
    var deleteForm = document.forms["deleteCourseForm"];
    $('#deleteCourseModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var id = button.data('id');
      courseId = id;
    })

    var btnDeleteCourseModal = document.getElementById("btnDeleteCourseModal");
    btnDeleteCourseModal.addEventListener("click", function () {
      deleteForm.action = "/courses/" + courseId + "?_method=DELETE";
      deleteForm.submit();
    })

    var checkboxAll = document.getElementById("checkbox-all");
    var checkboxes = document.getElementsByName("courseIds[]");
    checkboxAll.addEventListener("change", function () {
      var isCheckedAll = checkboxAll.checked;
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = isCheckedAll;
      }
      renderBtnAction()
    })

    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", function () {
        var isCheckedAll = false;
        for (var i = 0; i < checkboxes.length; i++) {
          if (!checkboxes[i].checked) {
            isCheckedAll = false;
            break;
          }
          isCheckedAll = true;
        }
        checkboxAll.checked = isCheckedAll;
        renderBtnAction()
      })
    })

    var btnAction = document.querySelector('.btn-action');
    function renderBtnAction() {
      var countCheckedBoxes = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
      if (countCheckedBoxes > 0) {
        btnAction.classList.remove('disabled')
      } else {
        btnAction.classList.add('disabled')
      }
    }
  })
</script>